// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rooms_box{
    margin: 10px auto;
    height: 80px;
    width: 800px;
    box-shadow: (0 0 4px #333333);
    background-color: #f6f6f6;
    padding: 10px;
}